

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="<%= asset_path('o_nas/DSC_0025.jpg') %>"  alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Lubimy swoją prace.</h1>
          <p>Dbamy o dobrą komunikację pomiędzy stronami. Zdejmujemy z inwestora większość obowiązków związanych z zakupem i dostarczeniem
            materiałów.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('o_nas/DSC_0028.jpg') %>"  alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Jestesmy kreatywni.</h1>
          <p>Wszyscy nasi klienci mogą liczyc na indywidualne podejście, pełen profesjonalizm, szybka i co najwazniejsze czytelną
            ofertę cenową,
            a także jasny zakres obowiązków.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('o_nas/DSC_0030.jpg')  %> "  alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Chętnie doradzamy.</h1>
          <p>Nasza usługa jest kompleksowa i obejmuje wszystkie elementy sztuki budowlanej.
            Posiadamy wszystkie niezbędne narzędzia
            Dzięki czemu nie muszą się państwo martwić o jakość usług.
          </p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path('o_nas/DSC_0034.jpg')  %> "  alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Proponujemy odpowiednie roziązania.</h1>
          <p>W naszej pracy bardzo duży nacisk kładziemy nie tylko na wartość techniczną ale również wizualną.
            Nasza usługa jest kompleksowa i obejmuje wszystkie elementy sztuki budowlanej.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->









<div id="about">
  <h2>Wykończenie mieszkania to nasza specjalność</h2>
  <h4>Yours House jest firmą remontową działającą na rynku ponad 5lat.
    Od tego czasu na swoim koncie zebraliśmy bardzo dużą ilość wykonanych realizacji.
    Cechuje nas przede-wszystkim rzetelność i sumienność oraz zaangażowanie w to co robimy.
    Dla nas zawsze najważniejszy jest klient, dlatego też zawsze jesteśmy otwarci na wszelkiego rodzaju propozycje ze strony klienta.
    W naszej pracy bardzo duży nacisk kładziemy nie tylko na wartość techniczną ale również wizualną.
    Nasi pracownicy regularnie przechodza różnego rodzaju szkolenia,
    w efekcie czego poszerzają swoją wiedzę oraz umiejętności z zakresu nowych technologii i materiałów.
    Przyjmujemy zlecenia na wykończenie mieszkania w stanie developerskim jak również do remontu generalnego na terenie Warszawy i okolic.
    Realizujemy wszystkie projekty: od najprostszych po najbardziej ambitne. Pracujemy dokładnie, nie spieszymy się, dysponujemy pełnym zapleczem technicznym i dużym doświadczeniem.
    Zapewniamy przyjazną atmosferę i wysoką kulturę osobistą.
    W cenie usługi jest stały nadzór i doradztwo. Udzielamy gwarancji.</h4>

  <h3>* * *</h3>
  <h4>
    Oferujemy pełen zakres usług, począwszy od prac budowlanych, instalacyjnych, aż po dekoracyjne malowanie czy montaż mebli.
    Lubimy wszelkie prace nietypowe – znajdujemy przyjemność w poszukiwaniu nowych, ciekawych rozwiązań.
    O świetnym efekcie wizualnym, nie zawsze decyduje użycie drogich materiałów.
    Często wystarczy dobry pomysł, odpowiednie zestawienie elementów – my to wiemy!
  </h4>
  <h3>* * *</h3>
  <h4>
    Lubimy swoją pracę, jesteśmy kreatywni. Chętnie doradzamy, proponujemy odpowiednie rozwiązania, wykonujemy projekty
    wnętrz.
    Dbamy o dobrą komunikację, zdejmujemy z inwestora większość obowiązków związanych z zakupem i dostarczeniem
    materiałów.
    Wszyscy nasi klienci mogą liczyc na indywidualne podejście, pełen profesjonalizm, szybka i co najwazniejsze czytelną
    ofertę cenową,
    a także jasny zakres obowiązków.

  </h4>
  <h4>
    Nasza usługa jest kompleksowa i obejmuje wszystkie elementy sztuki budowlanej.</br>
    Posiadamy wszystkie niezbędne narzędzia
    Dzięki czemu nie muszą się państwo martwić o jakość usług.
  </h4>
  </br>
  <%= link_to "Nasze Aranżacje", "photo_path" %>
</div>