

<%= render 'welcome/myCarousel' %>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="<%= asset_path('prestiz.jpg') %>" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Pelen zakres prac</h2>
      <p> Realizujemy wszystkie projekty -  od najprostszych po najbardziej ambitne. Pracujemy dokładnie, nie spieszymy się.  Dysponujemy pełnym zapleczem technicznym i dużym doświadczeniem.
        </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%= asset_path('profesionalnie.jpg') %>" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Profesjonalny projekt</h2>
      <p>Zapewniamy przyjazną atmosferę i wysoką kulturę osobistą.
        Przyjmujemy zlecenia na wykończenie mieszkania w stanie developerskim jak również do remontu generalnego.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%= asset_path('gwarancja.jpg') %>"alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Gwarancja uslugi</h2>
      <p>Nasi pracownicy regularnie przechodza różnego rodzaju szkolenia,
        w efekcie czego poszerzają swoją wiedzę oraz umiejętności z zakresu nowych technologii i materiałów.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Prace wykonujemy z pasją. <span class="text-muted">Wkładamy w nią dużo serca.</span></h2>
      <p class="lead">Dzielimy sie sugestjami w jaki latwy sposób możemy rozwiązać nie które kwestje rozmieszczenia elementów w mieszkaniu.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="<%= asset_path('the_home/fal20.jpg') %>" alt="Generic placeholder image">
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="<%= asset_path('the_home/now2.jpg') %>" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Cechuje nas rzetelność i sumienność,  <span class="text-muted">oraz zaangażowanie w to co robimy.</span></h2>
      <p class="lead">Dzieki czemu jestesmy dumni z naszych realizacji.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dla nas zawsze najważniejszy jest klient <span class="text-muted">Spelniamy jego oczekiwania.</span></h2>
      <p class="lead">Dlatego też zawsze jesteśmy otwarci na wszelkiego rodzaju propozycje ze strony klienta.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="<%= asset_path('the_home/DSC_0036.jpg') %>" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->






</div>