<h2> Dziekujemy za formularz zgłoszeniowy.</br>
    Twoja wiadomość została wysłana pomyślnie.</h2> </br>

<h2> Twoje dane kontakowe to: </h2>
<p>
  <h3>
    <tr>
      <td> <%= @contact.name %> </td>
      <td> <%= @contact.surname %> </td>
      <td> <%= @contact.email %> </td>
      <td> <%= @contact.phone %> </td>
      <td> <%= @contact.description %> </td>
    </tr>
  </h3>
Wktórtce skontaktujemy sie z państwem.
</p>

<p>
  <%= link_to 'Edytuj Formularz', edit_contact_url(@contact, :host =>"localhost:3000") %>
</p>
